.footer {
    background: linear-gradient(180.01deg, #151517 -82.55%, #48577E 163.92%);
    box-shadow: 0px 0px 43px 0px #425891;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__link > img:hover {
    cursor: pointer;
}

.link-right {
    margin-left: 50px;
}

.link-left {
    margin-right: 50px;
}
