body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 90%;
  padding: 50px 0;
}

.navbar_item a {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

section {
  margin: 0 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: inherit black;
}

.content_item {
  width: 40%;
  background-color: #e6e6e6;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px rgba(225, 225, 248, 0.5);
  font-size: 1.15em;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.content_item_wrapper {
}

.content_item_title {
  font-weight: bold;
}
.content_item_content {

}

.content_item_button {
  display: block;
  padding: 5px 20px;
  margin: 0 auto;
  width: 80px;
  height: 20px;
  color: wheat;
  font-weight: bold;
  text-align: center;
  background-color: forestgreen;
  border-radius: 20px;
  text-decoration: none;
  transition: .3s;
}

.content_item_button:hover {
  cursor: pointer;
  background-color: rgb(13, 94, 13);
  transition: ease .3s;
}

.content_item_category {
  width: 100%;
  margin: 0;
}

.category_navbar {
  margin-left: 10%;
  margin-bottom: 3%;
}

.category_navbar > ul {
  list-style-type: none;
  padding: 0;
}

.category_navbar li {
  margin-bottom: 15px;
}

.category_navbar_item:active,
.category_navbar_item {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  transition: .3s;
}

.category_navbar_item:hover {
  background-color: #a09b9b;
  transition: ease .3s;
}

.category_navbar_item  {
  background-color: #cacaca;
  border-radius: 20px;
  padding: 5px 20px;
  
}








