body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 90%;
  padding: 50px 0;
}

.navbar_item a {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

section {
  margin: 0 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: inherit black;
}

.content_item {
  width: 40%;
  background-color: #e6e6e6;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px rgba(225, 225, 248, 0.5);
  font-size: 1.15em;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.content_item_title {
  font-weight: bold;
}
.content_item_content {

}

.content_item_button {
  padding: 5px 20px;
  margin: 0 auto;
  width: 100px;
  color: wheat;
  font-weight: bold;
  text-align: center;
  background-color: forestgreen;
  border-radius: 20px;
}

.content_item_button:hover {
  cursor: pointer;
  background-color: rgb(13, 94, 13);
}









