{% extends 'base.html' %}
{% load static%}

{% block loading_static %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'blog/css/blog_page.css' %}">
{% endblock %}

{% block content %}
  {% block navigation %}
    {{ block.super }} 
  {% endblock %}
<section>
  <div class="content_item">
    <div class="content_item_wrapper">
      <p class="content_item_title">{{ blog_new.title }}</p>
      <p class="content_item_content">{{ blog_new.content|truncatewords:100 }}</p>
    </div>
    <p class="content_item_category"><i>{{ blog_new.category.category_name }}</i></p>
    <p class="content_item_date"><b>{{ blog_new.create_date }}</b></p>
</section>
{% endblock %}

</body>
</html>
