body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 90%;
  padding: 30px 0;
}

.navbar_item a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.3em;
}
