{% load static %}
<!-- TODO: Добавить отображение ошибок и стили для них. -->
<section class="form_section">
    <h2 class="form__section_title">
        Предложить новость
    </h2>
    <div class="container">
        <form method="post">
        {% csrf_token %}

        {% for item in form %}
          <! Delete is_published_field>
        {% if item.label != 'Опубликовано' %} 
        <div class="form_item">
            <label for="{{ item.id_for_label }}">
                {{ item.label }}:
            </label>
        {{ item }}
        </div>  
        {% endif %}
        {% endfor %}
        
        <button class="form_button" type="submit">Предложить новость</button>
        </form>
    </div>
</section>
