{% extends 'base.html'%}

  {% load static %}
  {% block loading_static %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'blog/css/blog_page.css' %}">
  {% endblock %}

  {% block page_title %}<title>Korchizhinskiy</title>{% endblock %}
</head>
<body>

  {% block navigation %}
    <div class="navbar">
      <div class="navbar_item">
        <a href="{% url 'home' %}">Главная</a>
      </div>
      <div class="navbar_item">
        <a href="{% url 'blog' %}">Блог</a>
      </div>
      <div class="navbar_item">
        <a href="#">Контакты</a>
      </div>
    </div>
  {% endblock %}

  {% block categories %}
  {% endblock %}

  {% block content %}
  {% endblock %}

</body>
</html>
