<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {% load static %}
  {% block loading_static %}
  <link rel="stylesheet" href="{% static 'blog/extra/null.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/base_page.css' %}">
  {% endblock %}

  {% block page_title %}<title>Korchizhinskiy</title>{% endblock %}
</head>
<body>



  {% block content %}
    {% block navigation %}
      <div class="navbar">
        <div class="navbar_item">
          <a href="{% url 'home' %}">Главная</a>
        </div>
        <div class="navbar_item">
          <a href="{% url 'blog' %}">Блог</a>
        </div>
        <div class="navbar_item">
          <a href="#">Контакты</a>
        </div>
      </div>
    {% endblock %}

    {% block categories %}
    {% endblock %}
  {% endblock %}

</body>
</html>
